/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
* Search Form 
**/
#Ds_library_book_search legend,#Ds_library_book_search .btn-center{ text-align:center;}     
.center-me{margin: 0 auto;    width: 10%;    float: none;}
#pager ul.pagination:before, #pager ul.pagination:after{     background-color: rgba(0,0,0,0);
                                                             z-index: -1;} 
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cell{
    display: inline-block;
    float: left;
    word-wrap:word-break;
}
.header.row .cell {
    padding: 1px;
    border: #000 1px solid; text-align:center;
}